process {
    withName: VIROMEQC_VIROMEQC {
        publishDir = [
            path: { "${params.outdir}/ReadPreprocessing/viromeqc/viromeqc" },
            mode: params.publish_dir_mode,
            pattern: '*.viromeqc.tsv',
        ]
        ext.args = params.viromeqc_args ? params.viromeqc_args : ""
    }
}
