includeConfig '../../../modules/nf-core/blast/makeblastdb/nextflow.config'
includeConfig '../../../modules/nf-core/blast/blastn/nextflow.config'
includeConfig '../../../modules/local/checkv/anicalc/nextflow.config'
includeConfig '../../../modules/local/checkv/aniclust/nextflow.config'
includeConfig '../../../modules/nf-core/seqkit/grep/nextflow.config'
