process {
    withName: CHECKV_DOWNLOADDATABASE {
        ext.https_proxy = params.use_uw_https_proxy ? "https_proxy=http://klone-dip1-A-ib:3128; export https_proxy" : ""
        publishDir = [
            path: { "${params.outdir}/VirusQuality/" },
            mode: params.publish_dir_mode,
            pattern: 'checkv_db/*',
            enabled: params.save_checkv_db
        ]
    }
}