process {
    withName: COBRAMETA {
        ext.prefix = { "${meta.id}_${meta.assembler}_cobra" }
        ext.args = [
            params.cobra_args ? params.cobra_args : ""
        ].join(" ").trim()
        publishDir = [
            [
                path: { "${params.outdir}/VirusExtension/cobrameta" },
                mode: params.publish_dir_mode,
                pattern: '*_COBRA_joining_summary.txt'
            ],
            [
                path: { "${params.outdir}/VirusExtension/cobrameta" },
                mode: params.publish_dir_mode,
                pattern: '*_log'
            ]
        ]
    }
}