process {
    withName: SPADES {
        ext.args = [
            "--meta",
            params.metaspades_single_args ? params.metaspades_single_args : "",
        ].join(' ').trim()
    }

    withName: METASPADES_SINGLE {
        ext.prefix = { "${meta.id}_spades_single"}
        publishDir = [
            [
            path: { "${params.outdir}/Assembly/metaspades/single" },
            mode: params.publish_dir_mode,
            pattern: '*.fa.gz',
            ],
            [
            path: { "${params.outdir}/Assembly/metaspades/single" },
            mode: params.publish_dir_mode,
            pattern: '*.log',
            ]
        ]
        ext.args = [
            "--meta",
            params.metaspades_single_args ? params.metaspades_single_args : "",
        ].join(' ').trim()
    }

    withName: METASPADES_COASSEMBLY {
        ext.prefix = { "${meta.id}_spades_coassembly"}
        publishDir = [
            [
            path: { "${params.outdir}/Assembly/metaspades/coassembly" },
            mode: params.publish_dir_mode,
            pattern: '*.fa.gz',
            ],
            [
            path: { "${params.outdir}/Assembly/metaspades/coassembly" },
            mode: params.publish_dir_mode,
            pattern: '*.log',
            ]
        ]
        ext.args = [
            "--meta",
            params.metaspades_coassembly_args ? params.metaspades_coassembly_args : "",
        ].join(' ').trim()
    }
}