params {
    // Pipeline options
    publish_dir_mode    = 'symlink'

    // Resource requests
    max_cpus        = 4
    max_memory      = '15.GB'
    max_time        = '6.h'

    // Test data base path (S3)
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'

    // Test data base path (GitHub)
    test_data_base = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'

    // Base directory for VTDB/createdb test data
    pipelines_testdata_base_path = "s3://ngi-igenomes/testdata/nf-core/pipelines/fetchngs/1.15.0/"
}

process {
    withName: BOWTIE2_ALIGN {
        cpus    = 2
    }

    withName: BOWTIE2_ALIGN {
        cpus    = 1
    }

    withName: "MEGAHIT.*" {
        cpus    = 1
    }

    withName: "COVERM.*" {
        cpus    = 1
    }

    withName: COBRAMETA {
        cpus = 1
    }

    withName: CHECKV_ENDTOEND {
        cpus = 1
    }
}


// Impose same minimum Nextflow version as the pipeline for testing
manifest {
    nextflowVersion = '!>=23.04.0'
}

// Disable all Nextflow reporting options
timeline { enabled = false }
report   { enabled = false }
trace    { enabled = false }
dag      { enabled = false }

// Load modules test_data.config
includeConfig 'https://github.com/nf-core/modules/raw/master/tests/config/test_data.config'
