process {
    withName: SEQKIT_GREP {
        ext.prefix = { "${meta.id}_aniclust"}
        publishDir = [
            path: { "${params.outdir}/VirusClustering/seqkit/grep" },
            mode: params.publish_dir_mode,
            pattern: '*.gz',
        ]
    }

    withName: SEQKIT_GREP_DEREP {
        ext.prefix = { "${meta.id}_derep"}
        publishDir = [
            path: { "${params.outdir}/VirusDereplication/seqkit/grep" },
            mode: params.publish_dir_mode,
            pattern: '*.gz',
        ]
    }
}