process {
    withName: CSVTK_SEP {
        ext.args = [
            "--drop",
            "-f 1",
            "--sep '|provirus'",
            "--names new_names"
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/VirusExtension/csvtk/sep" },
            mode: params.publish_dir_mode,
            pattern: '*.tsv',
            enabled: false
        ]
    }
}
