process {
    withName: PENGUIN_SINGLE {
        ext.prefix = { "${meta.id}_penguin_single"}
        ext.args = [
            '--translation-table 11',
            params.penguin_single_args ? params.penguin_single_args : ""
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/Assembly/plass/penguin/single" },
            mode: params.publish_dir_mode,
            pattern: '*.fasta.gz'
        ]
    }

    withName: PENGUIN_COASSEMBLY {
        ext.prefix = { "${meta.id}_penguin_coassembly"}
        ext.args = [
            '--translation-table 11',
            params.penguin_coassembly_args ? params.penguin_coassembly_args : ""
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/Assembly/plass/penguin/coassembly" },
            mode: params.publish_dir_mode,
            pattern: '*.fasta.gz'
        ]
    }
}
