params {
    // Pipeline options
    publish_dir_mode        = 'symlink'

    // Resource requests
    max_cpus        = 4
    max_memory      = '15.GB'
    max_time        = '6.h'
}

process {
    withName: FASTP {
        cpus        = 2
    }
}

// Disable all Nextflow reporting options
timeline { enabled = false  }
report   { enabled = false  }
trace    { enabled = false  }
dag      { enabled = false  }
