process {
    withName: TANTAN {
        ext.args = params.tantan_args ? params.tantan_args : ""
        publishDir = [
            path: { "${params.outdir}/VirusQuality/tantan" },
            mode: params.publish_dir_mode,
            pattern: '*_tantan.tsv',
            enabled: true
        ]
    }
}
