process {
    withName: TRFINDER {
        ext.args = [
            params.trfinder_min_dtr ? "--min_dtr ${params.trfinder_min_dtr}" : "",
            params.trfinder_min_itr ? "--min_itr ${params.trfinder_min_itr}" : "",
            params.trfinder_max_itr ? "--max_itr ${params.trfinder_max_itr}" : ""
        ].join(' ').trim()
        publishDir = [
            [
                path: { "${params.outdir}/TerminalRepeats/trfinder" },
                mode: params.publish_dir_mode,
                pattern: '*_trfinder.tsv',
                enabled: true
            ],
            [
                path: { "${params.outdir}/TerminalRepeats/trfinder" },
                mode: "copy",
                pattern: '*_trfinder.fasta.gz',
            ]
        ]
    }
}
