process {
    withName: PHAROKKA_PHAROKKA {
        publishDir = [
            [
                path: { "${params.outdir}/PhageFunction/pharokka/pharokka" },
                mode: params.publish_dir_mode,
                pattern: '*_cds_final_merged_output.tsv'
            ],
            [
                path: { "${params.outdir}/PhageFunction/pharokka/pharokka" },
                mode: params.publish_dir_mode,
                pattern: '*_top_hits_mash_inphared.tsv'
            ]
        ]
    }
}