process {
    withName: FASTP {
        ext.args = [
            params.fastp_args ? params.fastp_args : "",
        ].join(" ").trim()
        publishDir = [
            [
                path: { "${params.outdir}/ReadPreprocessing/fastp" },
                mode: params.publish_dir_mode,
                pattern: '*.json'
            ],
            [
                path: { "${params.outdir}/ReadPreprocessing/fastp" },
                mode: params.publish_dir_mode,
                pattern: '*.html',
                enabled: false
            ]
        ]
    }
}