process {
    withName: COVERM_CONTIG {
        ext.args = params.coverm_args ? params.coverm_args : ""
        publishDir = [
            [
                path: { "${params.outdir}/VirusAbundance/coverm/contig" },
                mode: params.publish_dir_mode,
                pattern: '*_alignment_results.tsv'
            ],
            [
                path: { "${params.outdir}/VirusAbundance/coverm/contig" },
                mode: params.publish_dir_mode,
                pattern: '*.log'
            ]
        ]
    }

    withName: COVERM_COBRA {
        ext.args = [
            params.cobra_coverm_args ? params.cobra_coverm_args : ""
        ].join(" ").trim()
        publishDir = [
            path: { "${params.outdir}/VirusExtension/coverm/contig" },
            mode: params.publish_dir_mode,
            pattern: '*_alignment_results.tsv',
            enabled: false
        ]
    }
}
