// includeConfig '../../modules/local/coverm/contig/nextflow.config'
// includeConfig '../../modules/local/filtersequences/nextflow.config'
// includeConfig '../../modules/local/logan/download/nextflow.config'
// includeConfig '../../modules/local/nucleotidestats/nextflow.config'
// includeConfig '../../modules/local/plass/penguin/nextflow.config'
// includeConfig '../../modules/local/seqkit/seq/nextflow.config'
// includeConfig '../../modules/local/seqkit/split/nextflow.config'
// includeConfig '../../modules/local/seqkit/stats/nextflow.config'
// includeConfig '../../modules/local/tantan/nextflow.config'
// includeConfig '../../modules/local/viromeqc/install/nextflow.config'
// includeConfig '../../modules/local/viromeqc/viromeqc/nextflow.config'

// includeConfig '../../modules/nf-core/bacphlip/nextflow.config'
// includeConfig '../../modules/nf-core/cat/cat/nextflow.config'
// includeConfig '../../modules/nf-core/cat/fastq/nextflow.config'
// includeConfig '../../modules/nf-core/fastp/nextflow.config'
// includeConfig '../../modules/nf-core/fastqc/nextflow.config'
// includeConfig '../../modules/nf-core/genomad/endtoend/nextflow.config'
// includeConfig '../../modules/nf-core/megahit/nextflow.config'
// includeConfig '../../modules/nf-core/spades/nextflow.config'

includeConfig '../../subworkflows/local/csv_sradownload_fetchngs/nextflow.config'
// includeConfig '../../subworkflows/local/fasta_anicluster_blast/nextflow.config'
// includeConfig '../../subworkflows/local/fasta_phagehost_iphop/nextflow.config'
// includeConfig '../../subworkflows/local/fasta_phagefunction_pharokka/nextflow.config'
includeConfig '../../subworkflows/local/fasta_virusclassification_genomad/nextflow.config'
// includeConfig '../../subworkflows/local/fasta_virusquality_checkv/nextflow.config'
includeConfig '../../subworkflows/local/fastq_hostremoval_bowtie2/nextflow.config'
includeConfig '../../subworkflows/local/fastq_virusenrichment_viromeqc/nextflow.config'
// includeConfig '../../subworkflows/local/fastqfasta_virusextension_cobra/nextflow.config'
includeConfig '../../subworkflows/local/fastqgfa_virusextension_phables/nextflow.config'
