process {
    withName: IPHOP_PREDICT {
        publishDir = [
            [
                path: { "${params.outdir}/PhageHost/iphop/predict" },
                mode: params.publish_dir_mode,
                pattern: 'Host_prediction_to_genus_m*.csv',
            ],
            [
                path: { "${params.outdir}/PhageHost/iphop/predict" },
                mode: params.publish_dir_mode,
                pattern: 'Host_prediction_to_genome_m*.csv',
            ]
        ]
        ext.args = [
            params.iphop_min_score ? "--min_score ${params.iphop_min_score}" : ""
        ].join(' ').trim()
    }
}