process {
    withName: CHECKV_ANICLUST {
        ext.args = [
            params.blast_cluster_min_ani ? "--min_ani ${params.blast_cluster_min_ani}" : "",
            params.blast_cluster_min_qcov ? "--min_qcov ${params.blast_cluster_min_qcov}" : "",
            params.blast_cluster_min_tcov ? "--min_tcov ${params.blast_cluster_min_tcov}" : ""
        ].join(" ").trim()
        publishDir = [
            path: { "${params.outdir}/VirusClustering/checkv/aniclust" },
            mode: params.publish_dir_mode,
            pattern: "*_clusters.tsv"
        ]
    }

    withName: CHECKV_DEREP {
        ext.args = [
            params.blast_derep_min_ani ? "--min_ani ${params.blast_derep_min_ani}" : "",
            params.blast_derep_min_qcov ? "--min_qcov ${params.blast_derep_min_qcov}" : "",
            params.blast_derep_min_tcov ? "--min_tcov ${params.blast_derep_min_tcov}" : ""
        ].join(" ").trim()
        publishDir = [
            path: { "${params.outdir}/VirusDereplication/checkv/aniclust" },
            mode: params.publish_dir_mode,
            pattern: "*_clusters.tsv"
        ]
    }
}
