process {
    withName: PHABLES_INSTALL {
        ext.args = [
            '--no-use-conda',
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/VirusExtension/phables/install" },
            mode: params.publish_dir_mode,
            pattern: 'phables_db',
            enabled: params.save_phables_db
        ]
    }
}
