process {
    withName: SEQKIT_SEQ {
        ext.args = params.seqkit_seq_min_len ? "--min-len ${params.seqkit_seq_min_len}" : ""
        publishDir = [
            path: { "${params.outdir}/Assembly/seqkit/seq" },
            mode: params.publish_dir_mode,
            pattern: '*.fast*',
            enabled: true
        ]
    }
}
