process {
    withName: FILTERSEQUENCES {
        ext.args = [
            params.checkv_min_length ? "--min_length ${params.checkv_min_length}" : "",
            params.checkv_min_completeness ? "--min_completeness ${params.checkv_min_completeness}" : "",
            params.min_cds_density ? "--min_cds_density ${params.min_cds_density}" : "",
            params.max_tantan_frac ? "--max_tantan_frac ${params.max_tantan_frac}" : "",
            params.max_kmer_freq ? "--max_kmer_freq ${params.max_kmer_freq}" : "",
            params.max_n_frac ? "--max_n_frac ${params.max_n_frac}" : "",
            params.keep_proviruses ? "--keep_proviruses" : "",
            params.ignore_warnings ? "--ignore_warnings" : ""
        ].join(" ").trim()
        publishDir = [
            [
            path: { "${params.outdir}/VirusFilter" },
            mode: params.publish_dir_mode,
            pattern: '*_filtered.fasta.gz'
            ],
            [
            path: { "${params.outdir}/VirusFilter" },
            mode: params.publish_dir_mode,
            pattern: '*_filtering_data.tsv'
            ]
        ]
    }
}
