process {
    withName: BOWTIE2_ALIGN {
        ext.prefix = { "${meta.id}_bowtie2"}
        ext.args = [
            params.bowtie2_args ? params.bowtie2_args : "",
        ].join(" ").trim()
        publishDir = [
            path: { "${params.outdir}/ReadPreprocessing/bowtie2/align" },
            mode: params.publish_dir_mode,
            pattern: '*.log'
        ]
    }
}