includeConfig '../../../modules/local/propagate/derepcoordinates/nextflow.config'
includeConfig '../../../modules/local/propagate/extractproviruses/nextflow.config'
includeConfig '../../../modules/local/propagate/propagate/nextflow.config'
includeConfig '../../../modules/nf-core/cat/cat/nextflow.config'
